body {
    background-color: #071a33;/*#EBF4FA;*/
    font-family: Arial, Helvetica, sans-serif;
    /*background-image: radial-gradient(#0B2545 0%, #071a33 40%, #010b16 90%);*/
}
b {
    color: white;
}
.content {
    margin-top: 50px;
}
#main_nav ul {
    list-style-type: none;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    width: 100%;
    margin: 0;
    padding: 0;
    top: 0;
    right: 0;
    background-color: #0B2545 /*#002A4D*/;
    position: fixed;
    z-Index: 100;
    -webkit-transition: .5s;
    transition: .5s;
}

#main_nav li {
    float: left;
    position: relative;
    list-style: none;
    -webkit-transition: .5s;
    transition: .5s;
}

#main_nav a {
    display: block;
    text-decoration: none;
    padding: 15px 16px;
    color: white;
}

#main_nav ul ul {
    font-size: 14px;
    right: 0;
    list-style-type: none;
    text-decoration: none;
    visibility: hidden;
    top: 100%;
    position: absolute;
    background-color: #0B2545;
    opacity: 0;
    width: 250px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

#main_nav ul ul ul {
    font-size: 12px;
    right: 100%;
    width: 38px;
    top: 0;
}

#main_nav ul ul a {
    display: block;
    text-decoration: none;
    text-align: left;
    width: 250px;
    padding: 6px 8px;
    color: white;
}       
#main_nav li:hover:not(.static) { 
    background-color: #1A5786;
}
#main_nav li:hover li {
    background: #0B2545;
}
#main_nav li li:hover li {
    background: #0B2545;
}

#main_nav li:hover > ul {
    display: block;
    visibility: visible;
    opacity: 1;
}
.block {
    background-color: white;
}
.main {
    width: = 20%;
}
.header {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
    background-color: white;
    display: block;
    position: absolute;
    float: left;
    margin: auto;
    margin-top: 420px;
    margin-left: 5%;
    padding-left: 20px; 
    width: 620px;
}
.sidesection {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
    position: relative;
    background-color: white;
    float: left;
    width: auto;
    margin-right: 2.5%;
    margin-left: 720px;
    margin-top: 50px;
    margin-bottom: 10px;
    padding: 1em;
}
.sidelink {
    color: gray;
    text-decoration: none;
}
.active {
    background-color: #1A5786;
    color: white;
}                
.static {
    font-size: 24px;  
    color: white;
    padding: 10px 16px;
    text-align: center;
}
.button {
    display: inline-block;
    border-radius: 4px;
    background-color: #0B2545;
    border: none;
    color: white;
    text-align: center;
    font-size: 18px;
    padding: 10px;
    width: 120px;
    cursor: pointer;
    margin: 5px;
}
.button a {
    text-decoration: none;
    color: #B7C8C4;
}
.button:hover:not(.disabled) {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    background-color: #1A5786;
    color: white;
}
.disabled {
    opacity: 0.6;
    cursor: not-allowed;
}
